{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ wikiPost.name }}</h1>
            <a href="{% url 'wiki:wiki_post_detail' wikiPost.name  %}" class="btn btn-sm btn-outline-secondary">본문 보기</a>
            <a href="{% url 'wiki:wiki_post_history_revert' wikiPost.name history.history_id  %}" class="btn btn-sm btn-outline-secondary">이 버전으로 되돌리기</a>
            {% if history.history_type == '+' %}
            <div class="row">
                <div class="col">
                    문서가 생성되었습니다
                </div>
            </div>
            {%endif%}
            {% if history.history_type == '~' %}
            <div class="row">
                <div class="col">
                    문서가 변경되었습니다
                </div>
            </div>
            {%endif%}
            {% if history.history_type == '-' %}
            <div class="row">
                <div class="col">
                    문서가 삭제되었습니다
                </div>
            </div>
            {%endif%}
            <div class="row">
                <div class="col">
                    {{ text }}
                </div>
            </div>
            

        </div>
    </div>

</div>




{% endblock %}